
     body {
         background: #f8f9fa;
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100vh;
         flex-direction: column;
     }
     h3 {
         margin-bottom: 20px;
     }
     a.btn {
         margin-top: 20px;
     }
